<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>calendar.badge.clock</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Нажмите, чтобы открыть экран с календарём</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Открыть календарь</string>
			<key>UIApplicationShortcutItemType</key>
			<string>OpenCalendar</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus.viewfinder</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Нажмите, чтобы создать новую запись</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Новая запись</string>
			<key>UIApplicationShortcutItemType</key>
			<string>CreateAppointment</string>
		</dict>
	</array>
</dict>
</plist>
